<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>SurveyHub</title>
</head>
<body>
    <div class="container">
       <center> <h1><%=title %></h1></center>
        <center><h3><%= description %></h3></center>
    </div>
    <br></br>

    <hr>
    <br></br>
    <div class="questions">
        <% for (var i =0; i <questions.length;  i++ ) { %>
            <br/>   <center><h3><%= questions[i].questionNumber%> . <%= questions[i].questionContent %></h3></center>
                    <center><input type="text" name="response"></center>
            <% } %>

        
            

    </div>


</body>
</html>